<div class="center jumbotron">
	<h1>Help me Improve!</h1>
	<h2>
  	  So you want to get better at League of Legends, eh? Lets see what I can help you with.
	</h2>

	<%= form_tag("/search", method: "post", class: "form-inline", role: "form") do %>
		<%= select_tag(:region, options_for_select([
				['Brazil', 'BR'], 
				['EU Nordic and East', 'EUNE'], 
				['EU West', 'EUW'], 
				['Korea', 'KR'], 
				['Latin America North', 'LAN'], 
				['Latin America South', 'LAS'], 
				['North America', 'NA'], 
				['Oceania', 'OCE'], 
				['Public Beta Environment', 'PBE'], 
				['Russia', 'RU'], 
				['Turkey', 'TR'], 
			], 'NA'), class: "form-control") %>
		<%= text_field_tag(:summonerName, nil, placeholder: "Summoner Name", class: 'form-control') %>
		<%= submit_tag("Search", class:"btn btn-primary") %>
	<% end %>
</div>